#withdraw_request{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    .withdraw_request_wrapper{
        margin-top: 4rem;
        margin-bottom: 4rem;
        box-shadow: var(--box-shadow);
        width: 70%;
        padding: 2rem;
        border: var(--border);

        p.title{
            padding-bottom: 4rem;
        }
        .input_box{
            margin-bottom: 2rem;
            margin-top: 1rem;
        }
        .btn-group{
            display: flex;
            align-items: center;
            justify-content: space-around;

            button{
                width: 40%;
            }
        }
    }
}

@media (max-width:768px) {
    #withdraw_request .withdraw_request_wrapper{
        width: 90%;
    }
}
