:root{
    --bg-color : white;
    --text-color : black;
    --text-color-active : #2a2185;
    --box-shadow: 10px 10px 10px #c1c1c1e8, -10px -10px 10px #ffffff;
    --box-shadow-inset: inset 10px 10px 10px #c1c1c1e8, inset -10px -10px 10px #ffffff;
    --border: #dddd;
}