form#recharge_payment {
  display: flex;
  align-items: center;
  justify-content: center;
}

#payment_form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: var(--bg-color);
}
#payment_form .payment_form_wrapper {
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 70%;
  box-shadow: var(--box-shadow);
  border-top: 10px solid var(--blue);
  border-bottom: 10px solid var(--blue);
  border-radius: var(--border-radius);
  padding: 2rem;
}
#payment_form .payment_form_wrapper .header h2 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--border);
}
#payment_form .payment_form_wrapper .body {
  padding-top: 2rem;
}
#payment_form .payment_form_wrapper .body .body_top h2 {
  padding-bottom: 2rem;
}
#payment_form .payment_form_wrapper .body .body_middle {
  background-color: var(--border);
  padding: 2rem;
  border-radius: var(--border-radius);
}
#payment_form .payment_form_wrapper .body .body_middle .body_middle_content_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#payment_form .payment_form_wrapper .body .body_middle .body_middle_content_header .body_middle_content_header_left, #payment_form .payment_form_wrapper .body .body_middle .body_middle_content_header .body_middle_content_header_right {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1.5rem;
}
#payment_form .payment_form_wrapper .body .body_middle .body_middle_content_header .body_middle_content_header_left .box, #payment_form .payment_form_wrapper .body .body_middle .body_middle_content_header .body_middle_content_header_right .box {
  display: flex;
  align-items: start;
  flex-direction: column;
}
#payment_form .payment_form_wrapper .body .body_middle_content_body {
  padding-bottom: 2rem;
}
#payment_form .payment_form_wrapper .body .body_middle_content_body .title {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
#payment_form .payment_form_wrapper .body .body_middle_content_body img {
  width: 50%;
  display: block;
  margin: auto;
}
#payment_form .payment_form_wrapper .body .body_middle_content_footer .body_middle_content_footer_first {
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#payment_form .payment_form_wrapper .body .body_middle_content_footer .body_middle_content_footer_first h2 {
  word-break: break-all;
}
#payment_form .payment_form_wrapper .body .body_middle_content_footer .body_middle_content_footer_secound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#payment_form .payment_form_wrapper .body .body_bottom {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#payment_form .payment_form_wrapper .body .body_bottom .title {
  color: red;
  padding-bottom: 0.7rem;
  text-align: start;
}
#payment_form .payment_form_wrapper .footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#payment_form .payment_form_wrapper .footer button {
  width: 40%;
}

@media (max-width: 425px) {
  #payment_form .payment_form_wrapper {
    width: 90%;
  }
}/*# sourceMappingURL=buy.css.map */